body,
h1,
p, {
	font-family:  Helvetica, Arial, sans-serif;
}

.container {
	text-align: center;
	padding-top: 50px;
}

.quoteBox {
	border: 1px dashed gray;
	border-radius: 15px;
	padding:  10px;
	margin-bottom: 15px;
}

li {
	display: inline;

}
